.nav {
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-evenly;
}

.nav-list {
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  background-color: var(--nav-bg);
  height: 100%;
  padding: 10pt 15pt;
  transition: background 0.3s;
}

.nav-list a:hover {
  background-color: var(--nav-bg-hover) !important;
  transition: all 0.3s;
  cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 520px) {
  .nav-list-item {
    font-size: 1em;
    padding: 0.5em;
  }
}