.merch-item-container {
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  line-height: 0;
  /* display: block; */
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom-left-radius: 10pt;
  border-bottom-right-radius: 10pt;
  transition: all 0.3s;
}

.merch-item-container:hover {
  -webkit-box-shadow: 5px 5px 8px 1px rgba(43, 35, 22, 0.60); 
  box-shadow: 5px 5px 8px 1px rgba(43, 35, 22, 0.60);
  border-bottom-left-radius: 10pt;
  border-bottom-right-radius: 10pt;
  transition: all 0.3s;
}

.merch-details-container {
  background-color: #3C3C3C;
  color: white;
  padding: 1em;
  border-bottom-left-radius: 10pt;
  border-bottom-right-radius: 10pt;
  text-align: center;
  line-height: 1;
}

.merch-item-image {
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  display: block !important;
  width: 1600px !important;
}

.merch-detail {
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 1.5rem;
}

.merch-price {
  font-family: 'Bebas Neue', cursive;
  color: #3CEFC5;
  font-size: 1.5rem;
}

@media screen and (min-width: 100px) {
  .merch-item.image {
    width: 100% !important;
    line-height: 0 !important;
  }
  .merch-item-container {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 375px) {
  .merch-item-container {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 768px) {
  .merch-item-container {
    flex-direction: column;
    padding: 0 6em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .merch-item-container {
    flex-direction: row;
    padding: 0;
    margin: 1em;
  }
  
}