.shows-container {
  background-color: #3B352B;
  background-image: url('../../../public/home/pedalboard.png');
  background-size: cover;
}

.upcoming-borderTop {
  background-color: #b58663;
  height: 4px;
}
.upcoming-borderBottom {
  background-color: #85452a;
  height: 8px;
}

.shows-title {
  color: #E5AF43;
  font-family: 'Bebas Neue', cursive;
}

.shows-nextup-container p {
  color: white;
}

/* UPCOMING COMPONENT STYLES */

.upcoming-container {
  background-color: #415F5B;
  height: 100%;
}

.upcoming-container .upcoming-title {
  margin-bottom: 0;
  color: #E5AF43;
  font-family: 'Bebas Neue', cursive;
  font-size: 6rem;
  text-align: center;
  padding-top: 0.5em;
}

.upcoming-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-list-details-container {
  margin-left: 1em;
}

.upcoming-detail-date {
  color: #EDE1D6;
  font-weight: bold;
  font-size: 1.5rem;
}

.upcoming-detail-misc {
  color: #EDC6A0;
  font-weight: bold;
  font-size: 1.5rem;
}

.upcoming-detail-title {
  color:#E5AF43;
  font-family: "Futura";
  font-weight: bold;
  font-size: 2rem;
}

/* MEDIA QUERIES ======================== */

@media screen and (min-width: 200px) {
  .upcoming-title {
    font-size: 3em !important;
  }
  .shows-title {
    color: #E5AF43;
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    text-align: center;
    padding-top: 0.5em;
  }
  .upcoming-list-container {
    padding: 0 1em;
  }
  .upcoming-list-item {
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
  }
  .upcoming-list-image-container * {
    width: 100% !important;
  }
  .upcoming-detail-title {
    font-size: 1.5rem;
  }
  .upcoming-detail-date, .upcoming-detail-misc {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 320px) {
  .upcoming-title {
    font-size: 3.5em !important;
    margin-bottom: 0;
  }
  .upcoming-list-item {
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .upcoming-detail-title {
    font-size: 1.4rem;
  }
  .upcoming-detail-date, .upcoming-detail-misc {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .upcoming-title {
    font-size: 4.2em !important;
    margin-bottom: 0;
  }
  .upcoming-list-item {
    color: white;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: flex-start;
    margin-bottom: 3em;
  }
  .upcoming-detail-title {
    font-size: 2rem;
  }
  .upcoming-detail-date, .upcoming-detail-misc {
    font-size: 1.5rem;
  }
}