.header {
  background-image: url('../public/home/temp-rockband-1_vDarkSepia.png');
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  /* border: 2px dashed white; */
}

.header-logo {
  /* border: 2px dotted cyan !important; */
}